.container {
    padding: 1.6rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right:0;
    left:0;
    color: white;
}

.navigationLinksWrapper {
    a {
        margin: 0 0.6rem;
        cursor: pointer;
    }
}

.socialMediaLinksWrapper {
    a {
        margin: 0 0.6rem;
        cursor: pointer;
    }
}